* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: gray;
}

.main-container {
    background-color: aquamarine;
    width: 40rem;
}

.display {
    width: 40rem;
    height: 12rem;
    font-size: 5rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0;
}

.button {
    width: 10rem;
    height: auto;
    border: black 1px solid;
    background-color: aqua;
    font-size: 5rem;
}
/* .large {
    /* width: 20rem; */
} */
