/*****************************/
/* FONTS */
/*****************************/
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

/*****************************/
/* VARIABLES */
/*****************************/
/*  
    --desert-1:#F7D3AA;
    --desert-2:#DF9D6C;
    --desert-3:#D4814E;
    --desert-4:#935B3E;
    --desert-5:#623624;
    --desert-6:#FFF1E1;

    --forest-1:#EDE6D5;
    --forest-2:#AD9984;
    --forest-3:#6B5949;
    --forest-4:#B3C799;
    --forest-5:#788264;

    --ocean-1:#22223B;
    --ocean-2:#4A4E69;
    --ocean-3:#9A8C98;
    --ocean-4:#C9ADA7;
    --ocean-5:#F2E9E4;

*/
:root,
:root.desert {
    --num-btns-color:#F7D3AA;
    /* --desert-2:#DF9D6C; */
    --function-btns-color:#D4814E;
    --display-color:#935B3E;
    --main-container-color:#623624;
    --bg-color:#FFF1E1;
}


:root.forest {
    --bg-color:#EDE6D5;
    --function-btns-color:#AD9984;
    --main-container-color:#6B5949;
    --num-btns-color:#B3C799;
    --display-color:#788264;
}

:root.ocean {
    --display-color:#22223B;
    --bg-color:#4A4E69;
    --function-btns-color:#9A8C98;
    --num-btns-color:#C9ADA7;
    --main-container-color:#F2E9E4;
}

/*****************************/
/* GLOBAL RESET */
/*****************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/*****************************/
/* BODY */
/*****************************/

body {
    height: 100vh;
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    overflow: hidden;

    font-family: 'Smooch Sans', sans-serif;
    color: white;
}

/*****************************/
/* STYLES CONTAINER */
/*****************************/

.styles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    width: 20rem;
    height: auto;

    font-size: 1.5rem;

    
}

.style-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.style-btn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

    background-color: rgb(243, 235, 126);

    display: flex;
    justify-content: center;
    align-items: center;
}

.style-info {
    color: black;
}

.desert {
    color: var(--desert-1);
    background-color: var(--desert-4);
}

.ocean {
    color: var(--ocean-5);
    background-color: var(--ocean-2);
}

.forest {
    color: var(--forest-1);
    background-color: var(--forest-5);
}

/*****************************/
/* MAIN CONTAINER */
/*****************************/

.main-container {
    background-color: var(--main-container-color);
    border-radius: 1rem;

    width: 40rem;
    height: 60rem;
    padding: 2rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.display {
    width: 37rem;
    height: auto;
    font-size: 5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*****************************/
/* DISPLAY CONTAINER */
/*****************************/

.calculations, .display-value {
    background-color: var(--display-color);
    height: 6rem;
    width: 37rem;
    border-radius: 1rem;

    font-size: 5rem;
    font-weight: 800;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;

    padding-left: 1rem;
}

/*****************************/
/* CALCULATOR BUTTONS */
/*****************************/

.buttons {
    width: 37rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;

    cursor: pointer;
}

.button {

    width: 7.25rem;
    height: 7.25rem;
    border-radius: 50%;
    /* border: black 1px solid; */
    background-color: var(--num-btns-color);
    font-size: 5rem;
    font-weight: 600;
   
    display: flex;
    justify-content: center;
    align-items: center;

}

.large {
    width: 15.5rem;
    border-radius: 1rem;
    grid-column: 3 / span 2;
}

.clear-btn, .delete-btn {
    font-size: 3rem;
}

.function-btn, .equal-btn {
    background-color: var(--function-btns-color);
}

.percentage-btn, .clear-btn, .delete-btn {
    background-color: var(--display-color);
}

